<div class="form-card">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <fieldset>
      <legend>Student information</legend>
      <div class="form-group">
        <label for="first-name">First name</label>
        <input
          id="first-name"
          type="text"
          placeholder="Students first name"
          name="firstName"
          required
          pattern="^[A-Za-z-]{1,50}$"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="last-name">Last name</label>
        <input
          id="last-name"
          type="text"
          placeholder="Students last name"
          name="lastName"
          required
          pattern="^[A-Za-z-]{1,50}$"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="index-no">Index number</label>
        <input
          id="index-no"
          type="text"
          placeholder="Students index number"
          name="indexNumber"
          required
          pattern="^\d{8}$"
          ngModel
        />
      </div>
      <div class="form-group-file">
        <label for="image">
          <input
            id="image"
            type="file"
            accept="image/*"
            name="image"
            required
            ngModel
            (change)="onFileUpload($event)"
          />
          Select image
        </label>
        <img width="64" src="{{ previewImage }}" alt="Preview Image" />
      </div>
      <div class="form-group buttons">
        <button [disabled]="form.invalid" type="submit">
          Generate QR code
        </button>
        <button type="reset">Cancel</button>
      </div>
    </fieldset>
  </form>
</div>
<div></div>
